@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply bg-black text-white;
}

@font-face {
    font-family: 'Nasalization-Rg';
    src: url('../fonts/nasalization-rg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }