@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-black text-white;
}

@font-face {
    font-family: 'Nasalization-Rg';
    src: url('../fonts/nasalization-rg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    @apply text-4xl font-bold; /* Aplica estilos de Tailwind */
}

h2 {
    @apply text-3xl font-semibold; /* Aplica estilos de Tailwind */
}

h3 {
    @apply text-2xl font-semibold; /* Aplica estilos de Tailwind */
}

h4 {
    @apply text-xl font-semibold; /* Aplica estilos de Tailwind */
}

h5 {
    @apply text-lg font-semibold; /* Aplica estilos de Tailwind */
}

h6 {
    @apply text-base font-semibold; /* Aplica estilos de Tailwind */
}